div
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1
{
    font-size: 24px;
    text-align: center;
}

h2
{
    font-size: 18px;
    color: #88100F;
    font-weight: normal;
    text-align: center;
}

h3
{
    font-size: 16px;
    text-decoration: underline;
    color: #88100F;
}

li, 
p
{
    font-size: 14px;
    line-height: 28px;
}